:root {
  /* Base colors */
  --primary-color: #222222;
  /* Main background color */
  --secondary-color: #333333;
  /* Secondary background color */
  --third-color: #5e5252;
  --fourth-color: #8f7d7d;
  /* Text colors */
  --text-color: #FFFFFF;
  /* White text color */
  --post-title-color: #FFD700;
  /* Light orange for post titles */
  --post-title-hover: #925300;
  /* Dark orange for post titles */

  /* Accent colors */
  --accent-color: #FFA500;
  /* Orange accent color */
  --accent-hover-color: #ff5e00;
  /* Orange accent color on hover */

  /* Additional colors */
  --success-color: #00FF00;
  /* Success color */
  --error-color: #FF0000;
  /* Error color */


  
}

h1 {
  margin-left: 100px;
  font-size: 50px;
  color: var(--accent-hover-color);
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.post-title a {
  margin-left: 10px;
  color: var(--post-title-color);
  text-decoration: none;
}

.post-title a:hover {
  color: var(--post-title-hover);
  text-decoration: underline;
}

#post_display {
  border:none;
  border-color:none;
  border-radius:12px;
  background-color: var(--post-title-hover);
  text-align:left;
  color: var(--post-title-color);
  text-decoration: none;
  margin-top:0px;
}
#p_content{
  padding: 12px 6px 12px 6px;
  border:none;
  border-color:none;
  border-radius:12px;
  background-color: var(--third-color);
}
#p_content p{
  color:var(--post-title-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.button:hover {
  background-color: var(--accent-hover-color);
}

.buttons button {
  width: 80px;
  height: 30px;
  background-color: #863100;
  border: none;
  border-radius: 25px;
  margin-right: 25px;
}

.username {
  text-align:right;
  color: greenyellow;
  display: inline-block;
}

.username:hover {
  color: green;
}

.post_button {
  border-color: none;
  border: none;
  border-radius: 15px;
  width: 700px;
  height: 140px;
  background-color: grey;
  margin-bottom: 30px;
}

.post_button h2 {
  padding: 6px;
}

.post_button span,
p {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.button_post {
  border: none;
  border-radius: 10px;
  background-color: grey;
}

.GoBack {
  font-size: 20px;
  background-color: var(--primary-color);
}

.GoBack a {
  text-decoration: none;
  color: var(--accent-color);
}

.buttons {
  float: left;
  margin-left: 50px;
}

.buttons button {
  color: var(--post-title-color);
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.buttons button a {
  text-decoration: none;
  color: var(--post-title-color);
}

.image-link {
  background-color: transparent;
}

.back-img {
  width: 30px;
  background-color: black;
}

.header .nav_bar li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.header .nav_bar li a {
  text-decoration: none;
  color: var(--post-title-color);
  font-size: 30px;
}

.header {
  text-align: center;
  margin: 20px;
  margin-left: 80px;
}

.login a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--post-title-color);
  font-size: 20px;
}

.create {
  margin-left: 100px;
}

.create a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 40px;
  color: var(--post-title-color);
}

.newform {
  text-align: left;
}

.newform label {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newform button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.newform textarea {
  font-size: 18px;
  resize: none;
  background-color: grey;
  border: none;
  border-color: none;
  border-radius: 12px;
}

.newform textarea:focus {
  background: lightgrey;
  color:#ff5e00
}
.newcomment textarea{
  font-size: 18px;
  resize: none;
  background-color: grey;
  border: none;
  border-color: none;
  border-radius: 12px;
}
.newcomment textarea:focus {
  background: lightgrey;
  color:#ff5e00
}
.newform #submit_button {
  border: none;
  border-color: none;
  background-color: var(--accent-color);
  border-radius: 12px;
  width: 150px;
  height: 40px;
  margin-right:40px;
}


.GoBack #submit_button {
  border: none;
  border-color: none;
  background-color: var(--accent-color);
  border-radius: 12px;
  width: 150px;
  height: 40px;
  margin-right:40px;
}
.newform #submit_button:hover {
  background-color: var(--accent-hover-color);
}

.newform .password .email {
  font-size: 18px;
  resize: none;
  background-color: grey;
  border: none;
  border-color: none;
  border-radius: 12px;
}

.registerform {
  text-align: left;
}

.register_button {
  margin-left: 40px;
  border: none;
  border-color: none;
  background-color: var(--accent-color);
  border-radius: 12px;
  width: 120px;
  height: 30px;
}

.login_button {
  margin-left: 10px;
  border: none;
  border-color: none;
  background-color: var(--accent-color);
  border-radius: 12px;
  width: 80px;
  height: 30px;
}
.registerform label, #name{
  margin-top:10px;
}
.registerform label{
    font-size: 34px;
    margin-top: 20px;
    margin-bottom:10px;
}
.registerform #name{
  font-size: 18px;
  resize: none;
  background-color: grey;
  border: none;
  border-color: none;
  border-radius: 12px;
  
}
.registerform .register_button{
  margin-left: 75px;
}
.registerform h1{
  font-size: 40px;
}
.registerform label{
  font-size:20px;
}

.postpage{
  background-color:var(--secondary-color);
  border:none;
  border-color:none;
  border-radius:20px;
  padding:20px;
}
.postpage label, h2, h1{
  color:var(--accent-color);
}
.postpage textarea{
  font-size: 18px;
  resize: none;
  background-color: lightgray;
  border: none;
  border-color: none;
  border-radius: 12px;
  margin-left:10px;
  margin-bottom:10px;
}
.postpage .comment{
  padding:5px;
  margin-left:10px;
  margin-bottom:10px;
  color:var(--accent-color);
  background-color: var(--third-color);
  border-radius:20px;
}
.postpage #button{
  margin-left: 10px;
  border: none;
  border-color: none;
  background-color: var(--accent-color);
  border-radius: 12px;
  width: 180px;
  height: 40px;
  margin-top:0px;
  margin-bottom:4px;
}
.postpage .comment #user{
  color: var(--post-title-color)
}
.postpage .comment #user:hover{
  color: var(--post-title-hover)
}
.postpage .comment #content{
  padding:5px;
  border-radius:10px;
}
.postpage #post_content{
  background-color: var(--secondary-color);
}




.newcomment{
  background-color: #925300;
  padding:10px;
  border-radius: 16px;
}
.newcomment label{
  margin-left:10px;
  margin-bottom:10px;
}

.post_button span{
  margin-top:2px;
}
.post_button p{
  color: var(--accent-color)
}
#submit_button a{
  color: black;
  text-decoration: none;
}
.left {
  text-align: left;
  float:left;
}
.right {
  text-align: right;
  float:right;
}
#navbutton {
  border: none;
  border-color: none;
  background-color: var(--accent-color);
  border-radius: 25px;
  width: 160px;
  margin-left:10px;
  margin-right:10px;
  color: var()
}
#navbutton a{
  color:var(--post-title-hover)
}
#navbutton a:hover{
  color:var(--accent-hover-color);
  text-decoration:underline;
}